.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

nav button {
  margin-left: 10px;
}
